:root {
    --background : #242424;
}

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100svw;
    height: 100svh;
    background-color: #242424;
    background-image: var(--background);
}

body {
    background-color: linear-gradient(105deg, #3a3a3a, #272727);
}

.header {
    position: absolute;
    display: flex;
    background: linear-gradient(90deg, #3a3a3a, #272727);
    width: 100svw;
    justify-content: space-between;
    min-height: 70px;
}

.title-with-logo {
    position: relative;
    margin-left: 20px;
    display: flex;
    gap: 20px;

}

.title-with-logo img {
    max-width: 70px;
    max-height: 70px;
}

.title-with-logo h1 {
    display: flex;
    font-family: 'Lexend', sans-serif;
    align-items: center;
    font-weight: 100;
    flex: 1;
    position: relative;
    color: #fff;
    font-size: 2.5rem;
}

.social {
    position: relative;
    margin-right: 30px;
    display: flex;
    align-items: center;
    max-width: 300px;
}

.social a {
    font-size: 1.5rem;
    margin-left: 30px;
    text-decoration: none;
    color: #fff;
}

.social a:hover {
    scale: 1.5;
    text-shadow: 0 0 3px #fff;
    transition: ease-in-out 0.3s;
}

.main-page {
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.links-pop-up {
    position: absolute;
    display: none;
    z-index: 200;
    color: #fff;
    width: 100svw;
    height: 100%;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.container {
    background-color: #ffffff33;
    box-shadow: 0 0 10px #000;
    width: 500px;
    border-radius: 10px;
    padding: 10px;
}

.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.text h1 {
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Lexend', sans-serif;
    font-weight: 100;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.text button {
    background-color: transparent;
    transform-origin: center center;
    border: none;
    color: #fff;
    align-items: center;
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.material-symbols-outlined {
    position: relative;
    top: 2px;
}

.text button:hover {
    transition: ease-in-out 0.3s;
    background-color: #3a3a3a;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}

.links-pop-up ul {
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links-pop-up a {
    display: flex;
    border-radius: 20px;
    background-color: #3a3a3aa9;
    text-decoration: none;
    align-items: center;
    color: #fff;
    padding: 10px;
}

.links-pop-up a:hover {
    transition: ease-in-out 0.3s;
    scale: 1.01;
    box-shadow: 0 0 0 2px #ffffff;
}

.links-pop-up .fa {
    padding-left: 30px;
}

.links-pop-up ul a h1 {
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
    margin: 10px;
    font-weight: 100;
    margin-left: 20px;
}

.latest-music,
.upcoming-music {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    font-family: 'Red Hat Display', sans-serif;
    color: #fff;
}

.latest-music img,
.upcoming-music img {
    width: 50vh;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px #000;
    transform-origin: center center;
}

.latest-music button,
.upcoming-music button {
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: #fff;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 2rem;
    text-align: left;
}

.latest-music button:hover,
.upcoming-music button:hover {
    cursor: pointer;
    transition: ease-in-out 0.3s;
    text-shadow: 0 0 3px #fff;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: row;
    }

    .title-with-logo h1 {
        display: none;
    }

    .social a {
        margin-left: 15px;
    }

    .main-page {
        padding-top: 75%;
        padding-bottom: 50%;
        gap: 15%;
        flex-direction: column;
    }

    .latest-music,
    .upcoming-music {
        text-align: center;
        position: relative;
    }

    .latest-music img,
    .upcoming-music img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 250px;
        width: 250px;
    }

    .latest-music button,
    .upcoming-music button {
        text-align: center;
    } 

    .links-pop-up {
        position: fixed;
        top: 0;
        -webkit-backdrop-filter: blur(10px);
    }

    .container {
        margin: 20px;
    }

    .container h1 {
        font-size: 1.5rem;
    }
}

@media (max-height: 400px) {
    .header {
        min-height: 35px;
    }

    .main-page {
        gap: 10%;
        flex-direction: row;
        padding-top: 0;
        padding-bottom: 0;
    }

    .main-page h1 {
        font-size: 1.5rem;
    }

    .latest-music,
    .upcoming-music {
        flex: 1;
        margin-top: 10%;
    }

    .latest-music img,
    .upcoming-music img {
        height: 125px;
        width: 125px;
    }

    .latest-music button
    .upcoming-music button {
        font-size: 1.5rem;
    }

    .text {
        position: relative;
    }
    .container {
        height: 50svh;
        overflow-y: scroll;
    }

    .links-pop-up {
        -webkit-backdrop-filter: blur(10px);
    }

    .links-pop-up a {
        padding: 0;
    }
}