:root {
    color-scheme: dark light;
    --bold: 'TSBlock', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --variable: 'Quicksand', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: 'TSBlock';
    src: url('/assets/fonts/TS Block Bold.ttf');
}

@font-face {
    font-family: 'Quicksand';
    src: url( '/assets/fonts/Quicksand-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 8px;
}

.loadIn {
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.loadIn:before {
    position: fixed;
    z-index: -1;
    content: '';
    width: 100vh;
    height: 200vh;
    background-color: black;
}

.loadIn img {
    margin: 32px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 200px;
    max-height: 200px;
    aspect-ratio: 1/1;
}


.blurredBG {
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(100px) saturate(0);
    -webkit-filter: blur(100px) saturate(0);
    position: absolute;
    z-index: -1;
}

section {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    background-image: url(/assets/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1920px;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: clamp(8px, 4vw, 64px);
}

section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

section .container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

section * {
    position: relative;
    z-index: +1;
    font-family: var(--bold);
}

section .logo {
    width: clamp(64px, 16vw, 256px);
    height: clamp(8px, 5vw, 72px);
    object-fit: cover;
    margin-top: clamp(8px, 8vh, 64px);
}

section img {
    width: clamp(8px, 28vw, 440px);
}

section #upcoming {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(8px, 1vh, 16px);
    margin-bottom: clamp(8px, 8vh, 64px);
    overflow: hidden;
} 

section #latest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(8px, 1vh, 16px);
    margin-bottom: clamp(8px, 8vh, 64px);
    overflow: hidden;
}

section #upcoming img, section #latest img {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

section #upcoming h2, section #latest h2 {
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    font-size: clamp(16px, 3vw, 48px);
    color: white;
}

section #upcoming h3, section #latest h3 {
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    font-size: clamp(12px, 2vw, 32px);
    color: white;
}

section .btn {
    text-decoration: none;
    margin-top: clamp(8px, 2vh, 16px);
    padding: 8px 16px;
    font-size: clamp(12px, 2vw, 32px);
    color: white;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

section .btn:hover {
    scale: 1.1;
    background-color: rgba(0, 0, 0, 0.75);
    color: rgba(255, 255, 255, 0.75);
}

section #platforms {
    max-width: 20vw;
    width: 100%;
}

section #socials {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px) saturate(0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(8px, 2vw, 32px);
    padding-top: clamp(8px, 8vh, 64px);
}

section ul {
    width: 100%;
    max-width: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: clamp(32px, 5vh, 84px);
}

section ul a li {
    list-style: none;
}

section ul a li i {
    font-size: clamp(8px, 4vw, 48px);
}

section ul a {
    text-decoration: none;
    color: white;
    transition: 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

section ul a:hover {
    color: gray;
}

@media (max-width: 1024px) or (pointer: coarse) {
    section .logo {
        width: 186px;
        height: 48px;
    }

    section .container {
        flex-direction: column;
    }

    section #platforms {
        max-width: 70vw;
    }

    section #platforms ul, section #socials ul {
        width: 100%;
        max-width: unset;
        display: flex;
        justify-content: space-evenly;
    }

    section #platforms ul a li i, section #socials ul a li i {
        font-size: 32px;
    }

    section img {
        width: 50vw;
    }

    section #upcoming, section #latest {
        max-height: unset;
    }

    section #upcoming h2, section #latest h2{
        font-size: 24px;
    }

    section #upcoming h3, section #latest h3 {
        font-size: 20px;
    }

    section .btn {
        font-size: 20px;
    }

    section #socials {
        padding-top: 32px;
        gap: 16px;
    }

}